<?xml version="1.0" encoding="utf-8"?>
<manifest>

    <!-- uexBaiduNavi -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- uexBaiduNavi -->

    <!-- 增加百度LBS密钥，将下面的key值修改为在LBS开放平台申请的AK -->
    <meta-data
        android:name="com.baidu.lbsapi.API_KEY"
        android:value="$uexBaiduMap_APIKey$" />

    <!-- 定位用的service -->
    <service
        android:name="com.baidu.location.f"
        android:enabled="true"
        android:process=":remote" />

    <!-- 原生导航Activity，须用绝对路径 -->
    <activity
        android:name="org.zywx.wbpalmstar.plugin.uexbaidunavi.BNavigatorActivity"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
    </activity>

</manifest>