<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
	<plugin
        className="org.zywx.wbpalmstar.widgetone.uexbaidunavi.EUExBaiduNavi" uexName="uexBaiduNavi" >
        <method name="initBaiduNavi"/>
        <method name="startRoutePlan"/>
        <method name="startNavi"/>
        <method name="onExitNavi"/>
        <method name="onExitDeclaration"/>
    </plugin>
</uexplugins>